<div class="container d-flex">
  <div class="p-5">
    <h1>Contact</h1>
    <p>Looking forward to hearing from you</p>
    <h3>Phone</h3>
    <p>+33 (0) 6 95 65 83 51</p>
    <h3>Email</h3>
    <p>ahlonko.kowouvi@gmail.com</p>
  </div>
  <div class="pt-5">
    <%= form_for @contact do |f| %>
      <div class="d-flex">
        <%= f.label :First_name %>
        <%= f.text_field  :first_name, required: true, class: "contact-form-text-area" %>

        <%= f.label :last_name %>
        <%= f.text_field  :last_name, required: true, class: "contact-form-text-area" %>
      </div></br>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email, required: true, class: "contact-form-text-area" %>

        <%= f.label :subject %>
        <%= f.text_field :subject, required: true, class: "contact-form-text-area" %>
      </div></br>
      <div class="d-flex">
        <%= f.label :your_message %>
        <%= f.text_area :your_message, rows: 8, cols: 40, required: true, class: "contact-form-text-area"%>

          <div class= "d-none">
            <%= f.label :nickname %>
            <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
          </div>

          <%= f.submit 'Submit', class: 'cta' %>
      </div>
    <% end %>
  </div>
</div>
