<div class="container d-flex align-items-center">
  <div class="p-5">
    <h1><strong>Contact</strong></h1>
    <h4><strong>Phone</strong></h4>
    <p>+33 (0) 6 95 65 83 51</p>
    <h4><strong>Email</strong></h4>
    <p>ahlonko.kowouvi@gmail.com</p>
  </div>
  <div class="container col-8 pt-5">
    <%= form_for @contact do |f| %>
      <div class="d-flex">
        <div class="container">
          <%= f.label :First_name %></br>
          <%= f.text_field  :first_name, required: true, class: "contact-form-text-area" %>
        </div>
        <div class="container">
          <%= f.label :last_name %></br>
          <%= f.text_field  :last_name, required: true, class: "contact-form-text-area" %>
        </div>
      </div></br>
      <div class="d-flex">
        <div class="container">
          <%= f.label :email %></br>
          <%= f.text_field :email, required: true, class: "contact-form-text-area" %>
        </div>
        <div class="container">
          <%= f.label :subject %></br>
          <%= f.text_field :subject, required: true, class: "contact-form-text-area" %>
        </div>
      </div></br>
      <div class="d-flex align-items-center">
        <div class="container">
          <%= f.label :your_message %></br>
          <%= f.text_area :your_message, rows: 8, cols: 40, required: true, class: "contact-form-text-area"%>
        </div>
        <div class="container">
        <%= f.submit 'Send', class: 'cta' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
